body {
	font-family: Arial, sans-serif;
	margin: 20px;
	text-align: center;
}

/* Style des questions */
.question {
	margin: 20px 0;
}

/* Style des boutons */
.bouton {
	padding: 10px 20px;
	margin: 5px;
	border: none;
	cursor: pointer;
	font-size: 16px;
	background-color: lightblue;
}
